.MainPanel {
  margin: 3rem auto;
  width:80%;

  .PanelHeader h2 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .Panel{
    

  .PanelSubheader h5{
    font-weight: 500;
    font-size: 1.2rem;
  }
  .PanelBody{
    background-color: aqua;
    margin:1rem 0rem;
  }
}
  .MyCoursesCardBackground {
    background-color: $body-bg-secondary;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
