.PendingHomework {

  .Card {
    height: 3.8rem;
    width: 100%;
    margin:5px auto;
   
      .CardImg img {
        width: 45px;
        height: 35px;
        max-width: 45px;
        max-height: 35px;
        border-radius: 5px;
        float: left;
        margin: 3px 15px auto 0;
      }

      .CardContent {
        display: flex;
       flex-direction: row;
      
        .CardHeader h6 {
            font-weight:500;
            margin:10px 0 0 0;
          font-size:16px;
        }
        .CardDetails{
            margin:10px 0 0 0;
        }

        .CardButton{
            border-radius:10px;
            margin:7px 0 0 0;
            color:$icon-red;
        }
        .CardButton:hover{
            background-color: $icon-red;
            color:$body-bg-secondary;
        }
      }
      .PendingClock {
        color: $icon-red;
        font-size: 1.2rem;
        margin:10px 0 0 0;
      }
    }
  }

