.PendingPayments {
  .Card {
    width: 90%;
    margin: 5px auto;
    display: flex;
    border-radius: 8px;

    .CardBody {
      display:flex;
      flex-direction: row;

      .CardHeader h6 {
        margin:0 1rem 0 0;
        width:10vw;
        font-weight: 600;
        padding-top:2px;
      }
      .CardButton{
        display: none;
      }
      .CardDetails{
        width:7vw;
      }
    }
  }
}
