.TopNavbar{
    display:flex;
    height:10vh;
    padding:1rem 2rem;
    background-color: $body-bg-secondary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

   
    
}