.RightSidebar {
  background-color: #fafcfe;
  padding: 2rem 0;
  height: 100vh;
  margin-right: 0rem;
  z-index: 1;
  transition: all 0.5s;
  border-radius: 20px 0 0 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
