.UserProfileNavbar {
  background-color: $body-bg-secondary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 15px;
  padding: 0.5em;
  margin: 1em auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .UserProfileButton {
    width: 80%;
    margin: auto;

    .link {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: $header-primary;

      .UserImg img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 0.7em;
      }
      .Name {
        font-weight: 600;
        padding-top: 5px;
        color: $header-primary;
      }
      .Name:hover {
        color: $icon-red;
      }
    }
  }

  .Bell-icon {
    color: $header-secondary;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: auto 5px;
    border-radius: 50%;
  }
  .Bell-icon:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
